/* reset browsers */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    font-size:62.5%; 
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* styles start here */
html{
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    scroll-behavior: smooth;
}
body {
    height: 100%;
}
li , a{
    list-style-type: none;
    text-decoration: none;
}
h1 {
    font-size: 5em;
    font-weight: 700;
}
h3 {
    font-size: 3em;
    font-weight: 600;
}
p {
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.5em;
}
.fixed {
    width: 100%;
    background-color: #000;
    opacity: 0.8;
    position: fixed;
    top: 0px;
    z-index: 400;
}
.fixed img {
    display: none;
}
.fixed li {
    margin: 15px 25px;
}
.container {
    width: 960px;
    margin: auto;
    text-align: center;
}
#toggle {
    display: none;
    cursor: pointer;
}

/* header */
header {
    width: 100%;
    min-height: 90%;
    background-image: url('../images/burgers.jpg');
    background-position: center;
    background-size: 100% 130%;
    position: relative;
}
header h1 {
    width: fit-content;
    font-size: 8em;
    font-weight: 900;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.header-2 {
    background-image: url('../images/burger-table.jpeg');
}
.header-3 {
    background-image: url('../images/burger-plate.jpeg');
}
.header-2 a {
    color: #fff;
}
.header-2 a:hover {
    color: rgb(224, 220, 220);
}
#logo {
    float: left;
}
#logo img {
    max-width: 100px;
    margin: 20px;
}
nav ul {
    width: 100%;
    text-align: center;
}
nav li {
    display: inline-block;
    margin: 40px 25px;
}
nav li img {
    width: 100px;
}
nav a {
    font-size: 1.6em;
    font-weight: 600;
    color: rgb(224, 220, 220);
}
nav a:hover {
    color: #fff;
}
/* about  */
.about {
    width: 100%;
    overflow: hidden;
}
.about img {
    width: 40%;
    height: 100%;
    float: right;
}
.about div {
    padding-top: 100px;
    float: left;
    width: 60%;
}
.about h1 {
    font-size: 6em;
    margin: 20px auto;
    text-align: center;
    font-family: 'Great Vibes', cursive;
}
.about h3 {
    margin: 30px;
    color: #444;
}
.about p {
    margin: 30px;
    color: #666;
}
/* reservations */
.reservations {
    clear: both;
    width: 100%;
    min-height: 800px;
    background-image:  url('../images/tables.jpeg');
    background-position: bottom;
    background-size: 100% auto;
}
.reservations h1 {
    font-weight: 900;
    color: #fff;
    font-size: 5em;
    text-align: center;
    padding: 100px 0;
}
.reservations form {
    width: 60%;
    margin: auto;
}
.reservations form input {
    width: 100%;
    height: 40px;
    margin: 20px auto;
    padding: 5px;
    border: none;
    opacity: 0.6;
    background-color: #a6a6a6;
    color : #444;
    font-size: 2em;
}
.reservations label {
    font-size: 2em;
    font-weight: 700;
    color: #fff;
}
.reservations button {
    border: none;
    cursor: pointer;
    width: 150px;
    height: 50px;
    background-color: #1f0101;
    font-size: 2em;
    color:#fff;
}
/* footer */
footer {
    clear: both;
}
footer .social-media {
    width: 100%;
    text-align: center;
    background-color: #515151;
}
footer .social-media img {
    max-height: 50px;
    margin: 10px;
}
footer .address {
    width: 100%;
    background-color: #242424;
    height: 150px;
    text-align: center;
    box-sizing: border-box;
    padding: 30px 0;
    color: #fff;
}
/* menu */
.menu-section {
    position: relative;
    width: 420px;
    height: 460px;
    display: inline-block;
    margin: 20px 10px;
    background-position: center;
    overflow: hidden;
}
.menu-section h5 {
    font-size: 2.5em;
    font-weight: 700;
    color: #fff;
    padding: 10px;
    position: relative;
    z-index: 2;
}
.menu-section p, .menu-section table th , .menu-section td {
    font-size: 1.4em;
    font-weight: 300;
    color: #fff;
    margin: 10px;
    position: relative;
    z-index: 3;
}
.menu-section table {
    text-align: left;
    width: 100%;
}

.menu-section td, .menu-section th {
    padding: 5px;
}
.menu-section div {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: #000;
  opacity: 0.6;
  z-index: 1;
}
.burgers {
    background-image: url('../images/menu/burger-min.jpg');
}
.sandwiches {
    background-image: url('../images/menu/steak-min.jpg');
}
.platters {
    background-image: url('../images/menu/plate-min.jpg');
}
.baskets {
    background-image: url('../images/menu/shrimp-min.jpg');
}
.salads {
    background-image: url('../images/menu/trio-min.jpg');
}
.kids {
    background-image: url('../images/menu/kids-min.jpg');
}
.desserts {
    background-image: url('../images/menu/choc-min.jpg');
}
.drinks {
    background-image: url('../images/menu/shake-min.jpg');
}
.sides {
    background-image: url('../images/menu/side-min.jpg');
}


/* gallery */

.gallery  img {
    max-width: 230px;
    margin: 20px;
    cursor: pointer;
}
/* img modal style */
#img-modal {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 500;
    display: none;
    padding-top: 100px;
}
#img-modal #inner {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.9;
    z-index: 501;
}
#img-modal img {
    position: relative;
   display: block;
   margin: auto;
    width: 60%;
    max-width: 1000px;
    z-index: 502;
    animation: zoom 0.3s;
    transform-origin: center;
}
@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
/* media queries */
/* 
@media only screen and (max-width: 1331px) {
    .about p {
        font-size: 1.2em;
    }
    .about h3 {
        font-size: 2.0em;
    }
    .reservations {
        background-size: 100% 100%;
    }
  } */

  @media only screen and (max-width: 1331px) {
    .about p {
        font-size: 1.2em;
        margin: 15px;
    }
    .about h3 {
        font-size: 2.0em;
        margin: 15px;
    }
    .reservations {
        background-size: 100% 100%;
    }
      header h1 {
          font-size: 5em;
      }
      nav ul a {
          font-size: 1.4em;
      }
      .about div  {
       padding: 0px;
      }
      header {
          min-height: 70%;
      }
  }

  @media only screen and (max-width: 960px) { 
    nav {
        width: 100%;
        height: 80px;
        background-color: #fff;
    }
    nav ul {
        background-color: #242424;
        position: absolute;
        top: 80px;
        z-index: 400;
        display: none;
    }
    nav li {
        display: block;
    }
    #logo {
        text-align: left;
        padding: 5px;
    }
    #logo img {
        max-width: 70px;
        margin: 2px;
    }
    #toggle {
        line-height: 80px;
        display: block;
        height: 50%;
        margin: 18px 5px;
        float: right;
    }
    .container {
        width: 100%;
    }
    .fixed {
        opacity: 1;
        background-color: #fff;
    }
    .fixed img {
        display: block;
    }
  }

  @media only screen and (max-width: 845px) { 
     .about img {
         display: none;
     }
     .about div {
         float: right;
         width: 100%;
     }
     .reservations form {
         width: 90%;
     }header {
         min-height: 40%;
     }
     
  }
  @media only screen and (max-width: 475px) {
      .menu-section {
          width: 100%;
          margin: 0px;
      }
      
      footer .social-media img {
        max-height: 30px;
      }
      .menu-section {
          margin-top: 10px;
      }
      header h1, .reservations h1 {
          font-size: 3em;
      }
      header h1 {
          margin-top: 50px;
      }
   }